
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'SF Pro', sans-serif;
    color: #232323;
  }

.btn-primary, .btn-primary:hover  {
    background-color:#F4F4F4 ;
    border: none;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
    margin: 0.5625rem 0.3125rem 0.9375rem 0.3125rem;
    color: #232323;
    outline: none;
    font-style: oblique;
    font-size: 1.25rem;
    width: 23.125rem;

}

.btn-primary:active:focus, .btn-primary:active,.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:visited, .btn-primary:focus{
    background-color: #ffbf0a !important;
    outline: none;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
    color: #f1f1f1 !important;

}
.btn-secondary, .btn-secondary:hover{
    background-color:#F4F4F4 !important;
    border: none;
    box-shadow: 0.0625rem 0.0625rem 0.625rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
    margin: 0.0625rem 0.125rem 0.125rem 0.125rem;
    color: #232323;
    font-style: oblique;

    font-size: 1.25rem;
    height: 3.4375rem;
    width: 3.4375rem;
}
.btn-light{
    background-color:#F4F4F4 !important;
    border: none;
    box-shadow: 0.0625rem 0.0625rem 0.625rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
    margin: 0.125rem 0.125rem 0.125rem 0.125rem;
    color: #232323;
    font-size: 1.25rem;
    height: 7.1875rem;
    width: 3.4375rem;
}
.btnZ{
    background-color:#F4F4F4 !important;
    border: none;
    box-shadow: 0.0625rem 0.0625rem 0.625rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
    margin: 0.1875rem 0.125rem 0.125rem 0.125rem;
    color: #232323;
    font-style: oblique;
    font-size: 1.25rem;
    height: 3.4375rem;
    width: 7.28125rem;
}
.btnZ:active:focus, .btnZ:visited, .btnZ:focus{

    outline: none !important;
    border: none !important;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
}

.container{
    flex: 1 1 auto;
    align-items: center !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 3.125rem 0.3125rem 0.3125rem 0.3125rem;
    flex-flow:column wrap;
    width: 100%;
    
}
.flex-column{
    float: left;
    margin-right: 1.875rem;
    margin-top: 0.3125rem;
    row-gap: 0.0625rem;
    justify-content: space-evenly;
    justify-items:flex-start;
}

.card{
    float: right;
    height: 20rem;
    width: 17.5rem;
    margin: 1.6875rem 0.125rem 0.125rem 1.875rem;
    display: flex;                       
    flex-wrap: wrap;                     
    justify-items: right !important;
    border: none;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
    background-color: #F4F4F4;
}

.form-control,.form-control:focus, input, select{
    width: 44rem;
    height: 2.8125rem;
    box-sizing: inherit;
    display: flex;
    flex-direction: column !important;
    align-self: center;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
    color: #232323;
    border: none;
    outline: none;
    background-color: #F4F4F4;
}

/* .form-uhrzeit{
    width: 10rem;
    height: 2.8125rem;
    margin: 0.3125rem;
    box-sizing: inherit;
    display: flex;
    flex-direction: row !important;
    align-self: left;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,1),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,1);
    color: #232323;
    border: none;
    outline: none;
    background-color: #F4F4F4;
} */

.topnav{
    justify-content: flex-start;
}
.onlineicon{
    margin-left: auto;
}

.row {
    display: block;
}
.col-8 {
    margin: 0.5rem 0rem 0.125rem 0.9375rem;
}
.col-4 {
    padding-left: 0rem !important;
    margin-left: 0.25rem !important;
    margin-top: 0.5rem;
}



  /* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F8F8F8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75rem;
    font-family: 'SF Pro', sans-serif;

  }
  
.sidenav a {
    padding: 0.9375rem 0.5rem 0.9375rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'SF Pro', sans-serif;
    color: #7A7A7A;
    display: block;
    transition: 0.3s;
  }
  
.sidenav a:hover {
    color: #f1f1f1;
  }
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.5625rem;
    font-size: 3rem;
    margin-left: 3.125rem;
    color: #ffbf0a;
  }
  
  @media screen and (max-height: 28.125rem) {
    .sidenav {padding-top: 0.9375rem;}
    .sidenav a {font-size: 1.5rem;}
  }
 /* The Arbeitplatz Buttons */

.btn-ap, .btn-ap:hover  {
    background-color:#F4F4F4 !important;
    border: none;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,0.5),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,.5);
    margin: 0.125rem 0.625rem 0.625rem 0.125rem;
    color: #232323;
    font-style: oblique;
    font-size: 0.875rem;
    height: 3.125rem;
    width: 15rem;

}
.btn-ap:active:focus, .btn-ap:visited, .btn-ap:focus{
    background-color: #ffbf0a !important;
    outline: none;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,0.5),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,.5);
    color: #f1f1f1;
}
.abrechh , .abrechh:active ,.abrechh:focus, .abrechh:visited {
    background-color: #7A7A7A !important;
    height: 4.375rem !important;
    width: 12.5rem !important;
    font-style: normal !important;
    font-weight: bolder !important;
    color: #f1f1f1 !important;
    align-self: flex-end !important;
    margin-top: auto !important;


}

.submit2 {
    height: 4.375rem !important;
    width: 12.5rem !important;
    font-style: normal !important;
    font-weight: bolder !important;
    color: #f1f1f1 !important;
    background-color: #ffbf0a !important;

}
.submit2:hover {
    height: 4.375rem !important;
    width: 12.5rem !important;
    font-style: normal !important;
    font-weight: bolder !important;
    color: #000000 !important;
    background-color: #f1f1f1 !important;

}
.p-2{
    margin-left: 0.9375rem;
}

/* .flex-row{
    margin: 0.625rem 0.3125rem 1.25rem 1.875rem;
    align-items:baseline;
} */
.bestätigen{
    margin: 5rem 1.25rem 1.25rem 1.25rem;
    padding-bottom: 5rem;
    align-self: flex-end;
    margin-top: auto !important;
    width: -webkit-fill-available;
}
.bestätigen2{
    margin: 0.625rem 1.875rem 1.25rem 1.875rem;
    align-self: flex-end;
    margin-top: auto;
    width: -webkit-fill-available;
}
.topButton{
    height: 1.875rem;
    width: 6.875rem;
    margin-left: 1.25rem;
    font-size: 0.9375rem;
    text-align: center !important;

}
.topButton:focus, .topButton:active:focus, .topButton:visited{
    background-color: #ffbf0a !important;
    outline: none;
    color: #f1f1f1;
    box-shadow: 0.0625rem 0.0625rem 1.25rem 0 rgba(205, 205, 205,0.5),0.125rem 0.125rem 0.625rem 0 rgba(205, 205, 205,.5);
}

.topNotification{
    background-color: #ffbf0a;
    box-shadow: 0.125rem 0.125rem 1.875rem 0 rgba(205, 205, 205,0.5),0.125rem 0.125rem 1.875rem 0 rgba(205, 205, 205,.5);
    font-style: oblique;
    color: #232323;
    font-size: 1.25rem;

}
 /* The Identification Page */
 .identification {
    font-style: oblique;
    font-size: 1.25rem;
    align-items: center !important;
    width: min-content;
    text-align: center;
    margin-top: 1.25rem !important;
    row-gap: 0rem;
     text-transform: capitalize;
 }

 /* .statustable{
    margin:0.625rem;
    height:80%;
    width: 95%;
    display: flex;
    flex-direction: column;
 } */
  .statustableflex, .statustable{
    margin:0.625rem;
    height:80%;
    /* width: 95%;
    display: flex;
    flex-direction: column; */
 }
 .inputbutton{
     width: 22.8125rem !important;
     height: 3.75rem !important;
 }

 /* .kurztext{
    margin-top : 0.5rem;
    width: 22.8125rem !important;
    height: 9.375rem !important;
 } */
 .inputtextcolumn{
    row-gap: 1.375rem;
    align-items: end;
 }
 .containerr{
     align-self: center;
     display: flex;
     flex-flow:column wrap;
     width: 100%;
 }
 .inputbuttontable{
     width: 15.625rem !important;
     height: 2.8125rem !important;
 }
 .label:hover,.label{
    display: inline-block;
    margin-bottom: 1.875rem;
    width: max-content;
}

 .radiobuttonsself, .radiobuttonsself:hover, .radiobuttonsself:focus{
    width: 22.8125rem !important;
    height: 2.8125rem !important;
    font-style: normal !important;
    text-align: center !important;
    /* margin: 0.0625rem 0.125rem 0.125rem 1.25rem;
    font-size: 1.25rem;
    padding-top: 0.9375rem !important; */
 }

 .textclass, .textclass:hover{
    align-self: end !important;
    font-size: x-large;
    font-style: oblique;
 }
 table {
    display: flex;
    flex-flow: column;
    height: 80%;
    width: 99%;
}
table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(99% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
    width: 99%;
}
.table td, .table th {
    
    vertical-align: baseline;
    border-top: 0rem solid #dee2e6;
    word-wrap: break-word;
}
.datetime, .datetime:active:focus, .datetime:active, .datetime:visited, .datetime:focus, #dauer, #datum, #Arbeitsplatznummer, #Pnummer, #FAnummer, #Gruppe, .kurztext, .fertigungauftrag, .form-uhrzeit {
    width: 22.8125rem !important;
    height: 2.8125rem !important;
    flex-direction: unset !important;
}
#arbeitsplatz, #Gemeinkosten, #GKA, #auftrag {
    width: 22.8125rem !important;
    height: 2.8125rem !important;
    flex-direction: unset !important;
}
.flexrowGemeinkosten{
    margin: 0.625rem 0.3125rem 0.625rem 1.875rem;

}

/* .fertigungauftrag {
    width: 6.25rem !important;
    height: 2.8125rem !important;
    margin: 0.3125rem;
} */
.fertigungauftragcolumn {
    width: 6.25rem !important;
    height: 2.8125rem !important;
    margin: 0.3125rem;
    justify-content: center;
}
.fertigungauftragrow {
    margin: 0.3125rem 0.3125rem 0.3125rem 0rem;
    align-items:baseline;
    justify-content: center;

}
.bestätigen3 {
    margin: 0rem 1.875rem 6.25rem 1.875rem;
    align-self: flex-end;
    margin-top: auto;
}
.fertigungauftragcontainer{
    align-items: center !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
    flex-flow:column wrap;
    width: 100%;
}

.table2{
    position: relative;
    top: 10%;
}

/* Solid border */
hr.solid {
    border-top: 0.1875rem solid #bbb;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
}

.boxes {
    display: inline-block;
    width: 12.5rem;
    height: 1.25rem;
    margin-left : 0.625rem;
  }

.inputbutton2{
    margin-top : 1.25rem;
    display: inline-block;
    width: 22.8125rem !important;
    height: 2.8125rem !important;
}
.inputbutton3{
    margin-top : 0.3125rem;
    display: inline-block;
    width: 22.8125rem !important;
    height: 2.8125rem !important;
}
.oneline {
    display: inline-block;
}

.flex-container {
    display: flex;
    margin: 0.3125rem;
}

.flex-row {
    display: flex;
    flex: 1 1 auto;
    height: auto;
    margin: 0.3125rem;
}

.flex-column {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: auto;
    margin: 0.3125rem;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-right {
    align-items: right;
    justify-content: right;
}

.flex-nested-row {
    display: flex;
    flex: 1 1 auto;
    margin: 0.625rem 1.875rem 1.25rem 1.875rem;
}

.flex-nested-column {
    display: flex;
    flex: 1 1 auto;
    margin: 0.3125rem;
}

.scrollable-menu_GK, .scrollable-menu_Buchungstag {
    height: auto;
    max-height: 12.5rem;
    width: 18.75rem;
    overflow-x: hidden;
    align-items: left;
    justify-content: left;
}

.scrollable-menu_Dauer {
    height: auto;
    max-height: 12.5rem;
    width: 12.5rem;
    overflow-x: hidden;
    align-items: left;
    justify-content: left;
}

/* #Ändern {
    width: 12.5rem !important;
    height: 2.8125rem !important;
    flex-direction: unset !important;
}

#Erstellen {
    width: 12.5rem !important;
    height: 2.8125rem !important;
    flex-direction: unset !important;
} */

/* .statustableflex {
    margin-left: 3.125rem;
  } */

.fluid-matrix {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.fluid-cell {
    flex-basis: 50%;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group label {
    flex-shrink: 0;
    width: 20%; /* Adjust the width according to your needs */
    text-align: right;
    padding-right: 0.625rem; /* Adjust the padding as needed */
    padding-left: 0.625rem;
    white-space: nowrap;
}

.input-group > *:not(label) {
    flex-grow: 1;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

@media screen and (max-width: 48rem) {
    .fluid-cell {
        flex-basis: 100%;
    }
}

.toggle-group {
    display: flex;
    margin-top : 1.25rem;
    flex-wrap: wrap;
    justify-content: center; /* Center the toggle buttons horizontally */
  }
  
  .toggle-button, .input-group .dropdown {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 22.8125rem !important;
    height: 2.8125rem !important;
    /* padding: 0.375rem 0.75rem; */
    /* background-color: #f0f0f0;
    border: 1px solid #ccc; */
    /* border-radius: 0.25rem; */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button input[type="radio"] {
    display: none;
  }
  
  .toggle-button input[type="radio"]:checked + .toggle-label {
    font-weight: bold;
  }
  
  .toggle-label {
    margin-left: 0.5rem;
    font-style: normal;
  }
  
  .toggle-button:hover {
    background-color: #e0e0e0;
  }

.clock {
    background: white;
    height: 10rem; /* Converted from 320px */
    width: 10rem; /* Converted from 320px */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 135%;
    left: 50%;
    box-sizing: content-box;
    border-radius: 50%;
    border: 0.1rem solid black; /* Converted from 15px */
    box-shadow: 0.46875rem 0.46875rem 1.09375rem rgba(0, 0, 0, 0.2),
    inset 0 0 0.9375rem rgba(0, 0, 0, 0.4); /* Converted from 15px and 30px */
}
.clock::before {
    content: "";
    position: absolute;
    top: -0.3rem; /* Adjust the value to match the inner border width */
    left: -0.3rem; /* Adjust the value to match the inner border width */
    width: calc(100% + 0.6rem); /* Adjust the value to match the inner border width */
    height: calc(100% + 0.6rem); /* Adjust the value to match the inner border width */
    border: 0.1rem solid black; /* Adjust the value to match the inner border width */
    border-radius: 50%;
}
.clock-img {
    position: relative;
    transform: scale(0.22); /* Adjust the scale factor as needed */
    transform-origin: top left;
    top: -0.05rem; /* Adjust the value as needed */
    left: -0.0rem; /* Adjust the value as needed */
}

.hand {
    position: absolute;
    background-color: black;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 0.15625rem; /* Converted from 5px */
    transform-origin: bottom;
}

.hour {
    height: 1.875rem; /* Converted from 60px */
    width: 0.3125rem; /* Converted from 10px */
    top: 3.125rem; /* Converted from 100px */
}

.minute {
    height: 2.5rem; /* Converted from 80px */
    width: 0.15625rem; /* Converted from 5px */
    top: 2.5rem; /* Converted from 80px */
}

.seconds {
    height: 2.8125rem; /* Converted from 90px */
    width: 0.09375rem; /* Converted from 3px */
    top: 2.1875rem; /* Converted from 70px */
    background-color: orange;
}

/* Add the transparent horizontal bar */
.transparent-bar {
    height: 20rem;
    background-color: white;
    width: 100%;
}

/* Style the page wrapper */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style the main content area */
.main-content {
    flex: 1;
    overflow-y: hidden; /* Hide the scrollbar by default */
}

/* Style the body content */
.body-content {
    overflow-y: auto; /* Show scrollbar only when content overflows */
    max-height: calc(100vh - 10rem); /* Adjust for footer height */
    padding: 1rem;
}

/* Style the footer */
.footer {
    padding: 0rem;
}