.message {
    font-weight: 600;
    color: blue;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#F8F8F8 !important;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(66, 133, 244,.16),2px 2px 10px 0 rgba(66, 133, 244,.12);
    margin: 15px 5px 15px 5px;
    color: #17375E;
    font-style: italic;
    font-size: 20;
    font-family: 'SF Pro', !important;
    

}
.btn-secondary, .btn-secondary:hover{
    background-color:#F8F8F8 !important;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(66, 133, 244,.16),2px 2px 10px 0 rgba(66, 133, 244,.12);
    margin: 2px 2px 2px 2px;
    color: #17375E;
    font-style: italic;
    font-family: 'SF Pro', !important;
    font-size: 20;
    height: 55px;
    width: 55px;
}
.btn-light{
    background-color:#F8F8F8 !important;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(66, 133, 244,.16),2px 2px 10px 0 rgba(66, 133, 244,.12);
    margin: 2px 2px 2px 2px;
    color: #17375E;
    font-style: italic;
    font-family: 'SF Pro', !important;
    height: 115px;
    width: 55px;
}
.btnZ{
    background-color:#F8F8F8 !important;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(66, 133, 244,.16),2px 2px 10px 0 rgba(66, 133, 244,.12);
    margin: 2px 2px 2px 2px;
    color: #17375E;
    font-style: italic;
    font-family: 'SF Pro', !important;
    height: 55px;
    width: 116.5px;
}

.flex-container{
    align-items: center !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 5px 5px 5px 5px;
    
}
.card{
    height: 320px;
    width: 280px;
    margin: 2px 2px 2px 2px;
    display: flex;                       
    flex-wrap: wrap;                     
    justify-items: right !important;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(66, 133, 244,.16),2px 2px 10px 0 rgba(66, 133, 244,.12);
}
.textInput{
    display: flex;
    flex-direction: column !important;
    align-self: center;
}

.navbar fixed-bottom navbar-light bg-light{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.row {
    display: block;
}
.col-md-8 {
    margin: 8px 0px 0px 13px;
}
.col-md-4 {
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-top: 8px;
}
.navbar {
    font-family: 'SF Pro', !important;
}