{% extends "base.html" %}
{% block title %} {{_('Arbeitplatz')}} {% endblock %}
{% block content%}

<div class="d-flex flex-row">

    <h2>{{ _('Arbeitplatz') }}</h2>

    <button  type="button" class="btn btn-light topButton" data-toggle="button" aria-pressed="false">{{ _('Alle')}}</button>
    <button  type="button" autofocus class="btn btn-light topButton" data-toggle="button" aria-pressed="false">{{_("Ausgewählte")}} </button>
  </div> 

<form action='#' method="POST">

<div class="grp d-flex align-content-center flex-wrap justify-content-center">
    <!-- Dynamic population of Buttons -->
    {% for items in range(0,buttonText[0]|length) %}
        <button type="submit" name="arbeitplatzbuttons" value='{{buttonText[1][items]}},{{buttonText[0][items]}}' class="btn btn-primary btn-ap">{{buttonText[0][items]}}</button>
    {% endfor %}
</div>

<div class="d-flex justify-content-between bestätigen">
    <!-- Abbrechen and Bestatigen Buttons -->
    <button type="button" onclick="window.location.href='{{"/"}}'" class="btn btn-primary btn-lg abrechh">{{  _('Abbrechen')}}</button>
    <button type="button"  class="btn btn-primary btn-lg submit2">{{_('Abmelden')}}</button>
</div>

<script>
    //<!-- JS for the notification animation -->
    window.setTimeout(function() {
        $(".alert").slideUp("normal", function() { $(this).remove(); } );
    }, 5000);

</script>
</form>

{% endblock %}