{% extends "base.html" %}
{% block title %} Arbeitplatz {% endblock %}
{% block content%}

<div class="d-flex flex-row">

    <h2>Arbeitplatz</h2>

    <button  type="button" class="btn btn-light topButton" data-toggle="button" aria-pressed="false">Alle</button>
    <button  type="button" autofocus class="btn btn-light topButton" data-toggle="button" aria-pressed="false">Ausgewählte </button>
  </div> 

<form action='/' methods="post">

<div class="grp d-flex align-content-center flex-wrap justify-content-center">
    <!-- Dynamic population of Buttons -->
    {% for items in range(0,buttonText[0]|length) %}
    <button type="button" name="arbeitplatzbuttons" value='{{buttonText[0][items]}}' href="{{ buttonText[1][items] }}" class="btn btn-primary btn-ap">{{buttonText[0][items]}}</button>
    {% endfor %}
</div>

<div class="d-flex justify-content-between bestätigen">
    <!-- Abbrechen and Bestatigen Buttons -->
    <button type="button" onclick="window.location.href='{{"/"}}'" class="btn btn-primary btn-lg abrechh">Abbrechen</button>
    <button type="submit" id="submit" value="submit" class="btn btn-primary btn-lg submit2">Bestätigen</button>
</div>

<script>
    <!-- JS for the notification animation -->
    window.setTimeout(function() {
        $(".alert").slideUp("normal", function() { $(this).remove(); } );
    }, 5000);

    <!-- JS to send the name of the selected button to the next screen -->
    $('.btn-ap').click(function () {    
    $(this).addClass("selected");  
    console.log('button is selected')
    });

    $(document).ready(function(){
        $('#submit').click(function(){

            var value = $('.btn-ap').filter('.selected').val();
            console.log(value);
            $.post(
              "/arbeitsplatz",
              { selectedbuttonAP: value })
        });
  });
</script>
</form>

{% endblock %}