{% extends "base.html" %}
{% block title %} {{ _('Arbeitsplatzbuchung') }}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <!-- Flash messages -->
            <div class="d-flex flex-row alert alert-warning fade show justify-content-between topNotification" role="alert">
            <img  src="../static/images/Icons_Info.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" aria-label="Warning:">
            <p><strong>{{username}}</strong> - {{ date.strftime("%H:%M") }} Uhr - {{msg}}</p>
            <img  src="../static/images/Icons_SchließenBlue.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" class="close" data-dismiss="alert" aria-label="Close">
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}
{% block content%}

<form action='#' method="POST">
<div class="containerr statustable">

    <h3>{{ _('Arbeitsplatzbuchung') }}</h3>

    <div class="flex-row">
        <div class="d-flex flex-column inputtextcolumn">

            <p>{{ _('Buchungstag:') }} </p>
            <p>{{ _('Arbeitsplatz ist') }} </p>
            <p>{{ _('Personal Nr.') }} </p>
            <p>{{ _('FA Nr.') }} </p>
        </div>

        <div class="d-flex flex-column">              
            <div>
                <input name="datetime" type="date" class="form-control datetime">
            </div>
            <div style="display: inline">
                <div class="dropdown inputbutton3">
                    <select name="arbeitsplatz" id="Arbeitsplatznummer" class="btn-secondary dropdown-toggle inputbutton drop no-italics" method="GET" action="/">
                        {% for index, row in arbeitplatz_dfs[0].iterrows(): %}
                        <option value="{{row['T905_Nr']}}">{{row['T905_Nr']}} {{row['T905_Bez']}}</option>
                        <hr />
                        {% endfor %}
                      </select>
                </div>
                <div class="boxes" , id="a_ptz">
                </div>
            </div>

            <div style="display: inline">
                <div class="dropdown inputbutton2">
                    <select name="personalnummer" id="Pnummer" class="btn-secondary dropdown-toggle inputbutton drop no-italics" method="GET" action="/">
                        {% for index, row in arbeitplatz_dfs[1].iterrows(): %}
                        <option value="{{row['T910_Nr']}}">{{row['T910_Nr']}} {{row['T910_Name']}}</option>
                        <hr />
                        {% endfor %}
                      </select>
                </div>
                <div class="boxes" , id="p_n">
                </div>
            </div>           
            
            <div style="display: inline">
                <div class="dropdown inputbutton2">
                    <select name="fanummer" id="FAnummer" class="btn-secondary dropdown-toggle inputbutton drop no-italics" method="GET" action="/">
                        {% for index, row in arbeitplatz_dfs[2].iterrows(): %}
                        <option value="{{row['TA06_FA_Nr']}}">{{row['TA06_FA_Nr']}} {{row['TA05_ArtikelBez']}}</option>
                        <hr />
                        {% endfor %}
                      </select>
                </div>
                <div class="boxes" , id="f_n">
                </div>
            </div>
        </div>

        <div class="d-flex flex-column inputtextcolumn">
            <p>{{ _('Dauer') }} </p>
            <p>{{ _('Kurztext') }} </p>
        </div>
        <div class="d-flex flex-column">

            <input name = "dauer" type="text" class="form-control inputbutton"  value="30">
            <input name = "kurztext" type="text" class="form-control kurztext">
        </div>
    </div>

    <div class="d-flex justify-content-between bestätigen2">

        <button type="button" onclick="window.location.href='{{" /"}}'" class="btn btn-primary btn-lg abrechh">{{
            _('Abbrechen') }}</button>
        <button type="submit" id="submit" value="submit" class="btn btn-primary btn-lg submit2">{{ _('Bestätigen')
            }}</button>

    </div>
</div>
</form>

<script type="text/javascript">
    //replace default selected dropdown values with empty field
    window.onload = function(){
    document.getElementById('Pnummer').selectedIndex = -1;
    document.getElementById('FAnummer').selectedIndex = -1;
    document.getElementById('Arbeitsplatznummer').selectedIndex = -1;
  }
  
    //JS for Datepicker
    $(function () {
        $('#datepicker').datepicker();
    });

    //Functions to set Dropdown values
    var $previousOptionPN,storedTextPN;
    var $previousOptionFA,storedTextFA;
    var $previousOptionArbeitsplatz,storedTextArbeitsplatz;
    document.getElementById("Pnummer").onchange = function() {
        var select = document.getElementById('Pnummer');
        var option = select.options[select.selectedIndex];
        text = option.text.split(' ').splice(1).join(' ');
        document.getElementById('p_n').innerHTML = text;
        if($previousOptionPN!=null){
            $previousOptionPN.text(storedTextPN)
        }
        $previousOptionPN=$(this).find("option:selected");
        storedTextPN=$previousOptionPN.text(); 

        $(this).find("option:selected").text($(this).find("option:selected").text().match(/([a-zA-Z0-9]+)/g)[0]);
    };

    document.getElementById("FAnummer").onchange = function() {
        var select = document.getElementById('FAnummer');
        var option = select.options[select.selectedIndex];
        text = option.text.split(' ').splice(1).join(' ');
        document.getElementById('f_n').innerHTML = text;
        if($previousOptionFA!=null){
            $previousOptionFA.text(storedTextFA)
        }
        $previousOptionFA=$(this).find("option:selected");
        storedTextFA=$previousOptionFA.text(); 

        $(this).find("option:selected").text($(this).find("option:selected").text().match(/([a-zA-Z0-9]+)/g)[0]);
    };

    document.getElementById("Arbeitsplatznummer").onchange = function() {
        var select = document.getElementById('Arbeitsplatznummer');
        var option = select.options[select.selectedIndex];
        text = option.text.split(' ').splice(1).join(' ');
        document.getElementById('a_ptz').innerHTML = text;
        if($previousOptionArbeitsplatz!=null){
            $previousOptionArbeitsplatz.text(storedTextArbeitsplatz)
        }
        $previousOptionArbeitsplatz=$(this).find("option:selected");
        storedTextArbeitsplatz=$previousOptionArbeitsplatz.text(); 

        $(this).find("option:selected").text($(this).find("option:selected").text().match(/([a-zA-Z0-9]+)/g)[0]);
    };
    
   
</script>
{% endblock %}