{% extends "base.html" %}
{% block title %} {{ _('Arbeitsplatzbuchung') }}{% endblock %}
{% block content%}

<div class="containerr statustable">

    <h3>{{ _('Arbeitsplatzbuchung') }}</h3>

    <div class="flex-row">
        <div class="d-flex flex-column inputtextcolumn">

            <p>{{ _('Buchungstag:') }} </p>
            <p>{{ _('Arbeitsplatz ist') }} </p>
            <p>{{ _('Personal Nr.') }} </p>
            <p>{{ _('FA Nr.') }} </p>
        </div>

        <div class="d-flex flex-column">              
            <div>
                <input type="date" class="form-control datetime">
            </div>
            <div style="display: inline">
                <div class="dropdown inputbutton3">
                    <button type="button" data-toggle="dropdown" id="arbeitsplatz"
                        class="btn btn-secondary dropdown-toggle inputbutton">
                    </button>
                    <div class="ARBT dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for index, row in arbeitplatz_dfs[0].iterrows(): %}
                        <a class="dropdown-item" href="#">{{row['T905_Nr']}} {{row['T905_Bez']}}</a>
                        <hr />
                        {% endfor %}
                    </div>
                </div>
                <div class="boxes" , id="a_ptz">
                </div>
            </div>

            <div style="display: inline">
                <div class="dropdown inputbutton2">
                    <button type="button" data-toggle="dropdown" id="personalNummer"
                        class="btn btn-secondary dropdown-toggle inputbutton"> </button>
                    <div class="DWPR dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for index, row in arbeitplatz_dfs[1].iterrows(): %}
                        <a class="dropdown-item" href="#">{{row['T910_Nr']}} {{row['T910_Name']}}</a>
                        <hr />
                        {% endfor %}
                    </div>
                </div>
                <div class="boxes" , id="p_n">
                </div>
            </div>
            
            
            <div style="display: inline">
                <div class="dropdown inputbutton2">
                    <button type="button" data-toggle="dropdown" id="FAnummber"
                        class="btn btn-secondary dropdown-toggle inputbutton"> </button>
                    <div class="DWFR dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for index, row in arbeitplatz_dfs[2].iterrows(): %}
                        <a class="dropdown-item" href="#">{{row['TA06_FA_Nr']}} {{row['TA05_ArtikelBez']}}</a>
                        <hr />
                        {% endfor %}
                    </div>
                </div>
                <div class="boxes" , id="f_n">
                </div>
            </div>

        </div>

        <div class="d-flex flex-column inputtextcolumn">
            <p>{{ _('Dauer') }} </p>
            <p>{{ _('Kurztext') }} </p>
        </div>
        <div class="d-flex flex-column">

            <input type="text" class="form-control inputbutton">
            <input type="text" class="form-control kurztext">
        </div>
    </div>

    <div class="d-flex justify-content-between bestätigen2">

        <button type="button" onclick="window.location.href='{{" /"}}'" class="btn btn-primary btn-lg abrechh">{{
            _('Abbrechen') }}</button>
        <button type="submit" id="submit" value="submit" class="btn btn-primary btn-lg submit2">{{ _('Bestätigen')
            }}</button>

    </div>
</div>

<script type="text/javascript">
    //JS for Datepicker
    $(function () {
        $('#datepicker').datepicker();
    });
    //Functions to set Dropdown values
    $(function () {
        $(".ARBT a").click(function () {
            $("#arbeitsplatz").text($(this).text().split(' ')[0]);
            $("#arbeitsplatz").val($(this).text().split(' ').slice(1, 3));
            var name = document.getElementById('arbeitsplatz').value.replace(/,/g, ' ');
            document.getElementById('a_ptz').innerHTML = name;
        });
    });
    $(function () {
        $(".DWPR a").click(function () {
            $("#personalNummer").text($(this).text().split(' ')[0]);
            $("#personalNummer").val($(this).text().split(' ').slice(1, 3));
            var name = document.getElementById('personalNummer').value.replace(/,/g, ' ');
            document.getElementById('p_n').innerHTML = name;
        });
    });
    $(function () {
        $(".DWFR a").click(function () {
            $("#FAnummber").text($(this).text().split(' ')[0]);
            $("#FAnummber").val($(this).text().split(' ').slice(1, ));
            var name = document.getElementById('FAnummber').value.replace(/,/g, ' ');
            document.getElementById('f_n').innerHTML = name;
        });
    });
</script>
{% endblock %}