{% extends "base.html" %}
{% block title %} {{ _('Bericht drucken') }} {% endblock %}
{% block content%}
<div class="statustableflex">

<h3>{{ _('Bericht drucken') }}</h3>

<div class="d-flex flex-column bericht">

  <div class="d-flex flex-row btn-group btn-group-toggle" data-toggle="buttons">
      <p class="textclass">{{ _('Reports') }}:</p>
      <label class="btn btn-secondary radiobuttonsself">
          <input type="radio" name="reportstype">{{ _('Kennzahlen Gruppe') }}
          </label>
      <label class="btn btn-secondary radiobuttonsself">
          <input type="radio" name="reportstype">{{ _('Zeitnachweise') }}
          </label>
  </div>

  <div class="d-flex flex-row">

      <p class="textclass">Arbeitsplatzgruppe:      </p>
      <div class="dropdown">
      <button type="button"  data-toggle="dropdown" class="btn btn-primary dropdown-toggle radiobuttonsself">Lehrwerksatatt   </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for items in range(0,arbeitsplatzgruppe|length) %}
    <a class="dropdown-item" href="#" >{{arbeitsplatzgruppe[items]}}</a>
    {% endfor %}

  </div>

      </div>
  </div>
  <div class="d-flex flex-row btn-group btn-group-toggle" data-toggle="buttons">
      <p class="textclass">{{ _('Zeitraum') }}:      </p>
      <label class="btn btn-secondary radiobuttonsself">
      <input type="radio" name="reportstype">{{ _('Aktueller Monat') }}
          </label>
      <label class="btn btn-secondary radiobuttonsself">
          <input type="radio" name="reportstype">{{ _('Vormonat') }}
          </label>
      <label class="btn btn-secondary radiobuttonsself">
          <input type="radio" name="reportstype"> {{ _('Tag') }}
          </label>
  </div>

</div>
<div class="d-flex justify-content-between bestätigen2">
        <!-- Bestatigen and Abbrechen Buttons -->
    <button type="button" onclick="window.location.href='{{"/"}}'" class="btn btn-primary btn-lg abrechh">{{ _('Abbrechen') }}</button>
    <button type="submit" id="submit" value="submit" onclick="javascript:printDLL()" class="btn btn-primary btn-lg submit2">{{ _('Einreichen') }}</button>
</div>
<script>
    function printDLL()
    {
        var dll_content="This is dummy text, soon there will be data from dll";
        var generator=window.open(",'name,");
        generator.document.write(`<!DOCTYPE html>
        <html>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        body {margin:0;}

        .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
        }

        .icon-bar a {
        float: left;
        width: 100%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
        }

        .icon-bar a:hover {
        background-color: #000;
        }

        .active {
        background-color: #04AA6D;
        }

        </style>
        <body>

        <div class="icon-bar" id="noprint">
        <a onclick="document.getElementById('noprint').hidden = true;window.print();document.getElementById('noprint').hidden = false"><i class="fa fa-print"></i></a> 
        </div>

        <div>
        <h1>${dll_content}</h1>
        </div>

        </body>
        </html> 
        `);
        window.location.href='{{"/"}}'
    }

     $(function(){

    $(".dropdown-menu a").click(function(){

      $(".radiobuttonsself:first-child").text($(this).text());
      $(".radiobuttonsself:first-child").val($(this).text());

   });

});
    </script>
    </div>

{% endblock %}
