{% extends 'base.html' %}

{% block content %}
  <div class="ml-3">
    <h1>Willkommen, {{ current_user.username }}</h1>
    <p>Sie sind angemeldet und haben Zugriff auf das Dashboard.</p>
    <h2>Benutzer</h2>
    <a href="{{ url_for('logout') }}" class="btn" style="float: right;">Ausloggen</a>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>DLL Path</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.dll_path }}</td>
            <td>
              <a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn">Bearbeiten</a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ user.id }}">Löschen</button>
              <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Benutzer löschen</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Möchten Sie diesen Benutzer wirklich löschen?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn" data-dismiss="modal">Stornieren</button>
                      <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-danger">Löschen</a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
