{% extends "base.html" %}
{% block title %} {{ _('Fertigungsauftrag erfassen') }}{% endblock %}


{% block content %}
<div>
  <form method="post">
  
  <div class="containerr statustable">
  <h3>{{ _('Fertigungsauftrag erfassen') }}</h3>
  </div>


<div class="flex-container">
  <div class="flex-row">
    <div class="flex-nested-row">
      <label class="textclass" > {{ pers_no }} &emsp; {{ username }} </label>
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="flex-row">
    <div class="flex-nested-row">
      <label class="textclass" id="anfangTS">{{anfangTS}}</label>
    </div>
  </div>
  <div class="flex-row">
    <div class="flex-nested-row flex-right">
      <label for="datum" class="textclass">{{ _('Datum') }}: &emsp; </label>
      <input type="date" name="datum" id="datum" value={{ date }} class="form-control datetime"></input>
    </div>
  </div>
</div>

<div class="flex-container">
	<div class="flex-row">
		<div class="flex-nested-row">
		<label for="arbeitsplatz" class="textclass">{{ _('Arbeitplatz') }}:  &emsp;</label>
		<select name="arbeitsplatz" id="arbeitsplatz" class="ARBT form-control">
			{% for items in range(0,auftraglst|length) %}
			<option value="{{auftraglst[items][1]}}">{{auftraglst[items][1]}}</option>
			{% endfor %}
		</select>
		</div>
	</div>
	<div class="flex-row">
		<div class="flex-nested-row flex-center">
			<label for="auftrag" class="textclass">{{ _('Auftrag') }}:  &emsp;</label>
			<select name="auftrag" id="auftrag" class="form-control">
			</select>
		</div>
	</div>
	<div class="flex-row">
		<div class="flex-nested-row flex-right">
		<button type="submit" name="submit" value="erstellen" id="Erstellen" class="btn btn-secondary  btn-lg submit2">{{ _('Erstellen') }}</button>
		</div>
	</div>
</div>
<select id ='selectvalue' style="visibility: hidden"> {{ auftraglst }}
</select>

<div class="panel-body">
	
	<div class="tbl_user_data"></div>

</div>

</form>
</div>

<script>

$(function(){
	const arbeitsplatz = document.querySelector("#arbeitsplatz");
    arbeitsplatz.addEventListener("change", function() {
	var arbpltz_val = arbeitsplatz.value;
	var selectvalues = JSON.parse('{{ auftraglst_ajax | tojson | safe}}');

	for (var index = 0; index < selectvalues.length; index++){
		selectvalue = selectvalues[index]
		if (selectvalue.platz.includes(arbpltz_val)){
			var div = document.getElementById("auftrag");
			// removes the existing children before adding new anchors
			while (div.firstChild) {
				div.removeChild(div.firstChild);
			}
			var option = document.createElement("option");
			option.value = selectvalue.belegNr;
			option.text = selectvalue.bez;
			div.appendChild(option);
			$("#auftrag").val(selectvalue.belegNr);
		}
	}
    });
});

// $(function(){
// 		$(".FAE a").click(function(){
// 		$("#auftrag").text($(this).text());
// 		$("#auftrag").val($(this).text());
//    });
// });


$(document).ready(function($)
{
	//ajax row data
	var ajax_data =  JSON.parse('{{ tablecontent | tojson | safe}}');
	console.log("ajax_data",ajax_data);

	var random_id = function  () 
	{
		var id_num = Math.random().toString(9).substr(2,3);
		var id_str = Math.random().toString(36).substr(2);
		
		return id_num + id_str;
	}


	//--->create data table > start
	var tbl = '';
	tbl +='<table class="table table-hover" id ="table-selectable">'

		//--->create table header > start
		tbl +='<thead>';
			tbl +='<tr>';
			tbl +='<th>TagId</th>';
			tbl +='<th>Arbeitplatz Ist</th>';
			tbl +='<th>BelegNr</th>';
			tbl +='<th>Anfang TS</th>';
			tbl +='<th>Ende TS</th>';
			tbl +='<th>Dauer TS</th>';
			tbl +='<th>Menge Gut</th>';
			tbl +='<th>Auf_Stat</th>';
		//--->create table header > end

		
		//--->create table body > start
		tbl +='<tbody>';

			//--->create table body rows > start
			$.each(ajax_data, function(index, val) 
			{
				//you can replace with your database row id
				var row_id = random_id();

				//loop through ajax row data
				tbl +='<tr row_id="'+row_id+'">';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="TagId">'+val['TagId']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="Arbeitplatz">'+val['Arbeitplatz']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="BelegNr">'+val['BelegNr']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="AnfangTS">'+val['AnfangTS']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="EndeTS">'+val['EndeTS']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="DauerTS">'+val['DauerTS']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="Menge Gut">'+val['MengeGut']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="Auf_Stat">'+val['Auf_Stat']+'</div></td>';
				tbl +='</tr>';
			});

			//--->create table body rows > end

		tbl +='</tbody>';
		//--->create table body > end

	tbl +='</table>'	
	//--->create data table > end

	//out put table data
	$(document).find('.tbl_user_data').html(tbl);

	//--->make div editable > start
	$(document).on('click', '.row_data', function(event) 
	{
		event.preventDefault(); 

		if($(this).attr('edit_type') == 'button')
		{
			return false; 
		}

		//make div editable
		$(this).closest('div').attr('contenteditable', 'true');
		//add bg css
		$(this).addClass('bg-warning').css('padding','5px');

		$(this).focus();
	})	
	//--->make div editable > end


	//--->save single field data > start
	$(document).on('focusout', '.row_data', function(event) 
	{
		event.preventDefault();

		if($(this).attr('edit_type') == 'button')
		{
			return false; 
		}

		var row_id = $(this).closest('tr').attr('row_id'); 
		
		var row_div = $(this)				
		.removeClass('bg-warning') //add bg css
		.css('padding','')

		var col_name = row_div.attr('col_name'); 
		var col_val = row_div.html(); 

		var arr = {};
		arr[col_name] = col_val;

		//use the "arr"	object for your ajax call
		$.extend(arr, {row_id:row_id});

		//out put to show
		$('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>');
		
	})	
	//--->save single field data > end

 
	//--->button > edit > start	
	$(document).on('click', '.btn_edit', function(event) 
	{
		event.preventDefault();
		var tbl_row = $(this).closest('tr');

		var row_id = tbl_row.attr('row_id');

		tbl_row.find('.btn_save').show();
		tbl_row.find('.btn_cancel').show();

		//hide edit button
		tbl_row.find('.btn_edit').hide(); 

		//make the whole row editable
		tbl_row.find('.row_data')
		.attr('contenteditable', 'true')
		.attr('edit_type', 'button')
		.addClass('bg-warning')
		.css('padding','3px')

		//--->add the original entry > start
		tbl_row.find('.row_data').each(function(index, val) 
		{  
			//this will help in case user decided to click on cancel button
			$(this).attr('original_entry', $(this).html());
		}); 		
		//--->add the original entry > end

	});
	//--->button > edit > end


	//--->button > cancel > start	
	$(document).on('click', '.btn_cancel', function(event) 
	{
		event.preventDefault();

		var tbl_row = $(this).closest('tr');

		var row_id = tbl_row.attr('row_id');

		//hide save and cacel buttons
		tbl_row.find('.btn_save').hide();
		tbl_row.find('.btn_cancel').hide();

		//show edit button
		tbl_row.find('.btn_edit').show();

		//make the whole row editable
		tbl_row.find('.row_data')
		.attr('edit_type', 'click')
		.removeClass('bg-warning')
		.css('padding','') 

		tbl_row.find('.row_data').each(function(index, val) 
		{   
			$(this).html( $(this).attr('original_entry') ); 
		});  
	});
	//--->button > cancel > end

	
	//--->save whole row entery > start	
	$(document).on('click', '.btn_save', function(event) 
	{
		event.preventDefault();
		var tbl_row = $(this).closest('tr');

		var row_id = tbl_row.attr('row_id');

		
		//hide save and cacel buttons
		tbl_row.find('.btn_save').hide();
		tbl_row.find('.btn_cancel').hide();

		//show edit button
		tbl_row.find('.btn_edit').show();


		//make the whole row editable
		tbl_row.find('.row_data')
		.attr('edit_type', 'click')
		.removeClass('bg-warning')
		.css('padding','') 

		//--->get row data > start
		var arr = {}; 
		tbl_row.find('.row_data').each(function(index, val) 
		{   
			var col_name = $(this).attr('col_name');  
			var col_val  =  $(this).html();
			arr[col_name] = col_val;
		});
		//--->get row data > end

		//use the "arr"	object for your ajax call
		$.extend(arr, {row_id:row_id});

		//out put to show
		$('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>')
		 

	});
	//--->save whole row entery > end

		// get selected row
	// display selected row data in text input
	
	var table = document.getElementById("table-selectable"),rIndex;
	
	for(var i = 1; i < table.rows.length; i++)
	{
		table.rows[i].onclick = function()
		{
			var selectvalues =  JSON.parse('{{ auftraglst_ajax | tojson | safe}}');
			rIndex = this.rowIndex;
			console.log("rIndex",$("#arbeitsplatz").text);
			for (var k = 0; k < selectvalues.length; k++) {
				var select = document.getElementById("arbeitsplatz");
				if (selectvalues[k].id === this.cells[1].innerText){
					var div = document.getElementById("auftrag");
					// removes the existing children before adding new anchors
					while (div.firstChild) {
						div.removeChild(div.firstChild);
					}
					var option = document.createElement("option");
					option.value = selectvalues[k].belegNr;
					option.text = selectvalues[k].bez;
					div.appendChild(option);

					for (var i = 0; i < select.options.length; i++) {
						if (select.options[i].value === selectvalues[k].platz) {
							// Set the selectedIndex property to the index of the option
							select.selectedIndex = i;
							// $("#auftrag").val(selectvalues[k].TA06_BelegNr);
							$("#auftrag").val(selectvalue[k].belegNr);
							break;
						}
					}
				}
				$("#anfangTS").text(this.cells[3].innerText);
			}
		};
	}


}); 
</script>
{% endblock %}
