{% extends "base.html" %}
{% block title %}{{ _(title) }}  {% endblock %}

{% block navbar %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <!-- Flash messages -->
            <div class="d-flex flex-row alert alert-warning fade show justify-content-between topNotification" role="alert">
            <img  src="../static/images/Icons_Info.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" aria-label="Warning:">
            <p><strong>{{username}}</strong> - {{ date.strftime("%H:%M") }} Uhr - {{msg}}</p>
            <img  src="../static/images/Icons_SchließenBlue.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" class="close" data-dismiss="alert" aria-label="Close">
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}

{% block content%}

<div class="d-flex flex-row">
    <h2>{{ _(title) }}</h2>
  </div> 

<form action='#' method="POST">

<div class="grp d-flex align-content-center flex-wrap justify-content-center">
    <!-- Dynamic population of Buttons -->
    {% for items in range(0,buttonText[0]|length) %}
        {% if show_button_ids %}
            <button type="submit" name="gemeinkostenbuttons" value='{{buttonText[1][items]}},{{buttonText[0][items]}}' class="btn btn-primary btn-ap">{{buttonText[0][items]}}<span style="font-size: 0.625rem">,{{buttonText[1][items]}}</span></button>
        {% else %}
            <button type="submit" name="gemeinkostenbuttons" value='{{buttonText[1][items]}},{{buttonText[0][items]}}' class="btn btn-primary btn-ap">{{buttonText[0][items]}}</button>
        {% endif %}
    {% endfor %}
</div>

<script>
    //<!-- JS for the notification animation -->
    window.setTimeout(function() {
    $(".alert").slideUp("normal", function() { $(this).remove(); } );
    }, 5000);
    <!-- JS to send the name of the selected button to the next screen -->
    <!-- $('.btn-ap').click(function () {
    $(this).addClass("selected");  
    console.log('button is selected')
    });

    $(document).ready(function(){
        $('#submit').click(function(){
            var value = $('.btn-ap').filter('.selected').val();
            console.log(value);
            $.post(
              "/gemeinkosten/{{user}}",
              { selectedbuttonGK: value })
        });
  }); -->
</script>
</form>
{% endblock %}