{% extends "base.html" %}
{% block title %} {{ _('Gemeinkosten ändern') }} {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <!-- Flash messages -->
            <div class="d-flex flex-row alert alert-warning fade show justify-content-between topNotification" role="alert">
            <img src="../static/images/Icons_Info.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" aria-label="Warning:">
            <p><strong>{{username}}</strong> - {{ date.strftime("%H:%M") }} Uhr - {{msg}}</p>
            <img src="../static/images/Icons_SchließenBlue.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" class="close" data-dismiss="alert" aria-label="Close">
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
<form method="post" action="{{ url_for('gemeinkostenandern',userid=userid)}}">

<div class="containerr statustable">
	<h3>{{ _('Gemeinkosten ändern') }}</h3>
</div>

<div class="flex-container">
	<div class="flex-row flex-left">
		<label for="anfangTS" class="textclass" id="anfangTS_label">{{ anfangTS }} </label>
	</div>
	<div class="flex-row flex-right">
		<label class="textclass" > {{ pers_no }} &emsp; {{ username }} </label>
	</div>
</div>

<div class="fluid-matrix">
    <div class="fluid-cell">
        <div class="input-group">
            <label for="arbeitsplatz">{{ _('Arbeitsplatz:') }}</label>
            <div class="dropdown inputbutton2">
                <select name="arbeitsplatz" id="arbeitsplatz" class="ARBT form-control">
                    {% for item in auftraglst[0] %}
                        <option value="{{item.1}}">{{item.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="boxes" , id="a_ptz"></div>
        </div>
	</div>
	<div class="fluid-cell">
        <div class="input-group">
            <label for="gemeinkosten">{{ _('Gemeinkosten:') }}</label>
            <div class="dropdown inputbutton2">
                <select name="gemeinkosten" id="Gemeinkosten" class="form-control"></select>
            </div>
            <div class="boxes" , id="p_n"></div>
        </div>
	</div>
	<div class="fluid-cell">
        <div class="input-group">
            <label for="datum">{{ _('Datum:') }}</label>
            <div class="dropdown inputbutton2">
                <input type="date" name="datum" id="datum" value="{{ date }}" class="form-control dropdown-toggle datetime">
            </div>
			<div class="boxes" , id="datum_n"></div>
        </div>
    </div>
    <div class="fluid-cell">
        <div class="input-group">
            <label for="dauer">{{ _('Dauer:') }}</label>
            <div class="dropdown inputbutton2">
                <select name="dauer" id="dauer" class="DAU form-control">
                    {% for items in range(0,dauer|length) %}
                        <option value="{{dauer[items]}}">{{dauer[items]}}</option>
                    {% endfor %}
                </select>
            </div>
			<div class="boxes" , id="dauer_n"></div>
        </div>
	</div>
	<div class="fluid-cell">
        <div class="input-group">
            <label for="kurztext">{{ _('Kurztext:') }}</label>
            <div class="dropdown inputbutton2">
                <input type="text" name="kurztext" id="GKA" class="form-control">
            </div>
            <div class="boxes" , id="f_n"></div>
        </div>
    </div>
</div>
  
<div class="d-flex justify-content-between bestätigen2">
	<button type="submit" name="submit" value="ändern" id="Ändern" class="btn btn-secondary  btn-lg submit2">{{ _('Ändern') }}</button>
	<button type="submit" name="submit" value="erstellen" id="Erstellen" class="btn btn-secondary  btn-lg submit2">{{ _('Erstellen') }}</button>
</div>


<input type="text" class="textclass" name="anfangTS" id="anfangTS" value="{{ anfangTS }}" style="visibility: hidden"></input>
<input type="text" name ='old_beleg_nr' id ='old_beleg_nr' style="visibility: hidden"> </input>

<div class="panel-body">
	
	<div class="tbl_user_data"></div>

</div>

<div class="transparent-bar"></div>

</form>
</div>

<script>

$(function(){
	const arbeitsplatz = document.querySelector("#arbeitsplatz");
    arbeitsplatz.addEventListener("change", function() {
	var arbpltz_val = arbeitsplatz.value;
	var selectvalues =  JSON.parse('{{ auftraglst_ajax | tojson | safe}}');
	for (var index = 0; index < selectvalues.length; index++){
		for (var inner_index = 0; inner_index < selectvalues[index].length; inner_index++){
			selectvalue = selectvalues[index][inner_index]
			
			if (selectvalue.platz.includes(arbpltz_val)){
				if (selectvalue.bez === ""){
					$("#Gemeinkosten").text(selectvalue.bez);
					$("#Gemeinkosten").val(selectvalue.bez);				
				}
				else{
					$("#Gemeinkosten").text(selectvalue.bez[0]);
					$("#Gemeinkosten").val(selectvalue.bez[0]);
				}
				
				var div = document.getElementById("Gemeinkosten");
				// removes the existing children before adding new anchors
				while (div.firstChild) {
					div.removeChild(div.firstChild);
				}
				var options = selectvalue.bez;
				for (var j = 0; j < options.length; j++) {
					var option = document.createElement("option");
					option.value = selectvalue.belegNr[j];
					option.text = options[j];
					div.appendChild(option);
				}
				break;
			}
		}
	}
    });
});

$(function(){
    $(".DAU").click(function(){
    $("#Dauer").text($(this).text());
    $("#Dauer").val($(this).text());
   });
});

$(document).ready(function($)
{
	//ajax row data
	var ajax_data =  JSON.parse('{{ tablecontent | tojson | safe}}');
	var random_id = function  () 
	{
		var id_num = Math.random().toString(9).substr(2,3);
		var id_str = Math.random().toString(36).substr(2);
		
		return id_num + id_str;
	}


	//--->create data table > start
	var tbl = '';
	tbl +='<table class="table table-hover" id ="table-selectable">'

		//--->create table header > start
		tbl +='<thead>';
			tbl +='<tr>';
			tbl +='<th>TagId</th>';
			tbl +='<th>Arbeitplatz Ist</th>';
			tbl +='<th>BelegNr</th>';
			tbl +='<th>Anfang TS</th>';
			tbl +='<th>Ende TS</th>';
			tbl +='<th>Dauer TS</th>';
			tbl +='<th>Anfang</th>';
			tbl +='<th>Ende</th>';
			tbl +='<th>Dauer</th>';
			tbl +='<th>Kurztext</th>';
			tbl +='</thead>';
		//--->create table header > end

		
		//--->create table body > start
		tbl +='<tbody>';

			//--->create table body rows > start
			$.each(ajax_data, function(index, val) 
			{
				//you can replace with your database row id
				var row_id = random_id();

				//loop through ajax row data
				tbl +='<tr row_id="'+row_id+'">';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="TagId">'+val['TagId']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="Arbeitplatz">'+val['Arbeitplatz']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="BelegNr">'+val['BelegNr']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="AnfangTS">'+val['AnfangTS']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="EndeTS">'+val['EndeTS']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="DauerTS">'+val['DauerTS']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="Anfang">'+val['Anfang']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="Ende">'+val['Ende']+'</div></td>';
					tbl +='<td ><div class="row_data" edit_type="click" col_name="Dauer">'+val['Dauer']+'</div></td>';
          tbl +='<td ><div class="row_data" edit_type="click" col_name="Kurztext">'+val['Kurztext']+'</div></td>';
				tbl +='</tr>';
			});

			//--->create table body rows > end

		tbl +='</tbody>';
		//--->create table body > end

	tbl +='</table>'	
	//--->create data table > end

	//out put table data
	$(document).find('.tbl_user_data').html(tbl);

	//--->make div editable > start
	// $(document).on('click', '.row_data', function(event) 
	// {
	// 	event.preventDefault(); 

	// 	if($(this).attr('edit_type') == 'button')
	// 	{
	// 		return false; 
	// 	}

	// 	//make div editable
	// 	$(this).closest('div').attr('contenteditable', 'true');
	// 	//add bg css
	// 	$(this).addClass('bg-warning').css('padding','0.3125rem');

	// 	$(this).focus();
	// })	
	//--->make div editable > end


	//--->save single field data > start
	$(document).on('focusout', '.row_data', function(event) 
	{
		event.preventDefault();

		if($(this).attr('edit_type') == 'button')
		{
			return false; 
		}

		var row_id = $(this).closest('tr').attr('row_id'); 
		
		var row_div = $(this)				
		.removeClass('bg-warning') //add bg css
		.css('padding','')

		var col_name = row_div.attr('col_name'); 
		var col_val = row_div.html(); 

		var arr = {};
		arr[col_name] = col_val;

		//use the "arr"	object for your ajax call
		$.extend(arr, {row_id:row_id});

		//out put to show
		$('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>');
		
	})	
	//--->save single field data > end

 
	//--->button > edit > start	
	$(document).on('click', '.btn_edit', function(event) 
	{
		event.preventDefault();
		var tbl_row = $(this).closest('tr');

		var row_id = tbl_row.attr('row_id');

		tbl_row.find('.btn_save').show();
		tbl_row.find('.btn_cancel').show();

		//hide edit button
		tbl_row.find('.btn_edit').hide(); 

		//make the whole row editable
		tbl_row.find('.row_data')
		.attr('contenteditable', 'true')
		.attr('edit_type', 'button')
		.addClass('bg-warning')
		.css('padding','0.1875rem')

		//--->add the original entry > start
		tbl_row.find('.row_data').each(function(index, val) 
		{  
			//this will help in case user decided to click on cancel button
			$(this).attr('original_entry', $(this).html());
		}); 		
		//--->add the original entry > end

	});
	//--->button > edit > end


	//--->button > cancel > start	
	$(document).on('click', '.btn_cancel', function(event) 
	{
		event.preventDefault();

		var tbl_row = $(this).closest('tr');

		var row_id = tbl_row.attr('row_id');

		//hide save and cacel buttons
		tbl_row.find('.btn_save').hide();
		tbl_row.find('.btn_cancel').hide();

		//show edit button
		tbl_row.find('.btn_edit').show();

		//make the whole row editable
		tbl_row.find('.row_data')
		.attr('edit_type', 'click')
		.removeClass('bg-warning')
		.css('padding','') 

		tbl_row.find('.row_data').each(function(index, val) 
		{   
			$(this).html( $(this).attr('original_entry') ); 
		});  
	});
	//--->button > cancel > end

	
	//--->save whole row entery > start	
	$(document).on('click', '.btn_save', function(event) 
	{
		event.preventDefault();
		var tbl_row = $(this).closest('tr');

		var row_id = tbl_row.attr('row_id');

		
		//hide save and cacel buttons
		tbl_row.find('.btn_save').hide();
		tbl_row.find('.btn_cancel').hide();

		//show edit button
		tbl_row.find('.btn_edit').show();


		//make the whole row editable
		tbl_row.find('.row_data')
		.attr('edit_type', 'click')
		.removeClass('bg-warning')
		.css('padding','') 

		//--->get row data > start
		var arr = {}; 
		tbl_row.find('.row_data').each(function(index, val) 
		{   
			var col_name = $(this).attr('col_name');  
			var col_val  =  $(this).html();
			arr[col_name] = col_val;
		});
		//--->get row data > end

		//use the "arr"	object for your ajax call
		$.extend(arr, {row_id:row_id});

		//out put to show
		$('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>')
		 

	});
	//--->save whole row entery > end

	// get selected row
	// display selected row data in text input
	
	var table = document.getElementById("table-selectable"),rIndex;

	// console.log("table:",table)
	for(var i = 1; i < table.rows.length; i++)
	{
		table.rows[i].onclick = function()
		{
			var selectvalues =  JSON.parse('{{ auftraglst_ajax | tojson | safe}}');
			rIndex = this.rowIndex;
			selectvalue = selectvalues[rIndex-1]
			var arbeitsplatz = document.getElementById("arbeitsplatz");
			var Gemeinkosten = document.getElementById("Gemeinkosten");
			// var selectedValue = arbeitsplatz.value;
			// var selectedText = arbeitsplatz.options[arbeitsplatz.selectedIndex].text;
			console.log(rIndex,"rIndex",selectvalue);

			for (var k = 0; k < selectvalue.length; k++) {
				if (selectvalue[k].id.includes(this.cells[1].innerText)){
					console.log("selectvalue[k].bez[j]",selectvalue[k]);
					// // removes the existing children before adding new options
					while (arbeitsplatz.firstChild) {
						arbeitsplatz.removeChild(arbeitsplatz.firstChild);
					}
					for (var l = 0; l < selectvalue.length; l++) {
						var option = document.createElement("option");
						option.value = selectvalue[l].platz;
						option.text = selectvalue[l].platz;
						arbeitsplatz.appendChild(option);
					}
					$("#arbeitsplatz").val(selectvalue[k].platz);
				}
				
				if (selectvalue[k].belegNr.includes(this.cells[2].innerText)){
					for (var j = 0; j < selectvalue[k].belegNr.length; j++) {
						if (selectvalue[k].belegNr[j].includes(this.cells[2].innerText)){
							// // removes the existing children before adding new options
							while (Gemeinkosten.firstChild) {
								Gemeinkosten.removeChild(Gemeinkosten.firstChild);
							}
							var options = selectvalue[k].bez;
							for (var l = 0; l < options.length; l++) {
								var option = document.createElement("option");
								option.value = selectvalue[k].belegNr[l];
								option.text = options[l];
								Gemeinkosten.appendChild(option);
							}
							$("#Gemeinkosten").val(selectvalue[k].belegNr[j]);
							$("#old_beleg_nr").val(selectvalue[k].belegNr[j]);
						}
					}
				}				
			}	
			
			document.getElementById("anfangTS").value = this.cells[3].innerText;
			document.getElementById("anfangTS_label").innerHTML = this.cells[3].innerText;
			document.getElementById("dauer").value = this.cells[5].innerText;
			document.getElementById("datum").value = this.cells[0].innerText;
			document.getElementById("GKA").value = this.cells[9].innerText;
			document.getElementById("GKA").text = this.cells[9].innerText;
		};
	}

}); 
</script>
{% endblock %}
