{% extends "base.html" %}
{% block title %} {{ _('Gruppenbuchung') }} {% endblock %}

{% block navbar %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <!-- Flash messages -->
            <div class="d-flex flex-row alert alert-warning fade show justify-content-between topNotification" role="alert">
            <img  src="/static/images/Icons_Info.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" aria-label="Warning:">
            <p><strong>{{username}}</strong> - {{ date.strftime("%H:%M") }} Uhr - {{msg}}</p>
            <img  src="/static/images/Icons_SchließenBlue.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" class="close" data-dismiss="alert" aria-label="Close">
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}

{% block content%}

<form action='#' method="POST">
<div class="containerr statustable">
    <h3>{{ _('Gruppenbuchung') }}</h3>
    <div class="flex-row">

        <div class="d-flex flex-column inputtextcolumn">
            <p>{{ _('Buchungstag') }}: </p>
            <p>{{ _('FA Nr.') }} </p>
            {% if terminal != False %}
                <p>{{ _('Gruppe.') }} </p>
            {% endif %}
        </div>

        <div class="d-flex flex-column">
            <div>
                <input type="date" name = "datetime" class="form-control dropdown-toggle datetime" value="{{ date }}">
            </div>

            <div style="display: inline">
                <div class="dropdown inputbutton2">
                    <select name="fanummer" id="FAnummer" class="btn-secondary dropdown-toggle inputbutton drop no-italics" method="GET" action="/">
                        {% for index, row in frNr.iterrows(): %}
                        <option value="{{row['TA05_FA_Nr']}}">{{row['TA05_FA_Nr']}} {{row['TA05_ArtikelBez']}}</option>
                        <hr />
                        {% endfor %}
                      </select>
                </div>
                <div class="boxes" , id="gruppe_frNr">
                </div>
            </div>

            {% if terminal != False %}
                <div style="display: inline">
                    <div class="dropdown inputbutton2">
                        <select name="gruppe" id="Gruppe" class="btn-secondary dropdown-toggle inputbutton drop no-italics" method="GET" action="/">
                            {% for index, row in gruppe.iterrows(): %}
                            <option value="{{row['T903_NR']}}">{{row['T903_NR']}} {{row['T903_Bez']}}</option>
                            <hr />
                            {% endfor %}
                        </select>
                    </div>
                    <div class="boxes" , id="gruppe">
                    </div>
                </div>
            {% endif %}


        </div>
        <div class="d-flex flex-column inputtextcolumn">

            <p>{{ _('Dauer') }}: </p>
            <p>{{ _('Kurztext') }} </p>
        </div>

        <div class="d-flex flex-column">
            <div style="display: inline">
                <select name="dauer" id="dauer" class="DAU form-control" value="30">
                    {% for items in range(0,dauer|length) %}
                        <option value="{{dauer[items]}}">{{dauer[items]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="display: inline">
                <input type="text" name = "kurztext" class="form-control kurztext">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between bestätigen2">

        <button type="button" onclick="window.location.href='{{" /"}}'" class="btn btn-primary btn-lg abrechh">{{
            _('Abbrechen') }}</button>
        <button type="submit" id="submit" value="submit" class="btn btn-primary btn-lg submit2">{{ _('Bestätigen')
            }}</button>
    </div>
</div>
</form>
<script>
    //replace default selected FAnummer value with empty field
    window.onload = function () {
        document.getElementById('FAnummer').selectedIndex = -1;
        document.getElementById('Gruppe').selectedIndex = -1;

    }

    $(function(){
        $(".DAU").click(function(){
        $("#Dauer").text($(this).text());
        $("#Dauer").val($(this).text());
    });
    });

    var $previousOption, storedText;
    var $previousOptionGruppe, storedTextGruppe;
    <!-- Script to display the item which is selected in the dropdown. -->
    document.getElementById("FAnummer").onchange = function () {

        // Separate FA string from id and place the string in the right side box
        var select = document.getElementById('FAnummer');
        var option = select.options[select.selectedIndex];
        text = option.text.split(' ').splice(1).join(' ');
        document.getElementById('gruppe_frNr').innerHTML = text;
        // Break dropdown options and place the FA id of selected option on the FA Nr field
        // Replacing the dropdown items with the id changes original select options, reset options to there actual text
        if ($previousOption != null) {
            $previousOption.text(storedText)
        }
        $previousOption = $(this).find("option:selected");
        storedText = $previousOption.text();
        $(this).find("option:selected").text($(this).find("option:selected").text().match(/([a-zA-Z0-9]+)/g)[0]);
    };

    document.getElementById("Gruppe").onchange = function () {
        var select = document.getElementById('Gruppe');
        var option = select.options[select.selectedIndex];
        text = option.text.split(' ').splice(1).join(' ');
        document.getElementById('gruppe').innerHTML = text;
        if ($previousOptionGruppe != null) {
            $previousOptionGruppe.text(storedTextPN)
        }
        $previousOptionGruppe = $(this).find("option:selected");
        storedTextGruppe = $previousOptionGruppe.text();
        $(this).find("option:selected").text($(this).find("option:selected").text().match(/([a-zA-Z0-9]+)/g)[0]);
    };
</script>
{% endblock %}