{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content%} 
<div class="flex-container">
    <div class="textInput">
        <input type="text" name="input" class="form-control">
    </div>
    <div class="d-flex flex-column">
        <button type="button" class="btn btn-primary btn-lg">{{buttonValues[0]}}</button>
        <button type="button" class="btn btn-primary btn-lg">{{buttonValues[1]}}</button>
        <button type="button" class="btn btn-primary btn-lg">{{buttonValues[2]}}</button>
        <button type="button" class="btn btn-primary btn-lg">{{buttonValues[3]}}</button>
    </div>
    <div class="card">
        <div class="col-md-8">
            <div class="row">
                <button type="button" value="" class="btn btn-secondary">⌫</button>
                <button type="button" value="7" class="btn btn-secondary">/</button>  
                <button type="button" value="8" class="btn btn-secondary">*</button>
            </div>
            <div class="row">
                <button type="button" value="9" class="btn btn-secondary">9</button>
                <button type="button" value="8" class="btn btn-secondary">8</button>
                <button type="button" value="7" class="btn btn-secondary">7</button>
            </div>
            <div class="row">
            
                <button type="button" value="6" class="btn btn-secondary">6</button>
                <button type="button" value="5" class="btn btn-secondary">5</button>    
                <button type="button" value="4" class="btn btn-secondary">4</button>
            </div>
            <div class="row">
                <button type="button" value="3" class="btn btn-secondary">3</button>    
                <button type="button" value="2" class="btn btn-secondary">2</button>
                <button type="button" value="1" class="btn btn-secondary">1</button>
            </div>
            <div class="row">
                <button type="button" value="7" class="btnZ">0</button>
                <button type="button" value="8" class="btn btn-secondary">,</button>
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" value="9" class="btn btn-secondary">-</button>
            <button type="button" value="9" class="btn btn-light">↵</button>
            <button type="button" value="8" class="btn btn-light">+</button>
        </div> 
    </div>
  </div>
    
{% endblock %}
{% block navbar %}
<a class="navbar-brand" href="#">
    <img src="../static/images/Icons_Menü.svg" width="50" height="50" alt="">
</a>

<a class="navbar-brand" href="#">
    <img  src="../static/images/Icons_Tastatur.svg" width="100" height="50"  alt="">
    <img style="align-self: flex-end;" src="../static/images/Icons_Online.svg" width="50" height="50" alt="">
</a> {% endblock %}



