{% extends "base.html" %}
{% block title %} Identification {% endblock %}

{% block content%}

<div class="container">

    <form action='#' method="post">

    <div class="textInput">
        <input type="text" name="inputfield" id="screen" class="form-control" autofocus>
    </div>

    <div class="pad">

        <div class="d-flex flex-column identification">
            <!-- Identification "page" is the value that we are getting form the last clicked button on the home screen. -->

            <a class="navbar-brand" href="#"><img src="../static/images/Icons_Kartenscan.svg" width="300" height="200" alt=""></a>
            <p>{{  _('Bitte bestätigen Sie mit ihrem Coin oder ihrer Personalnummer')}}</p>

        </div>
        <div class="card">
            <!-- Keypad -->
            <div class="col-md-8" id="keypad">
                <div class="row">
                    <button type="button" id="clear" class="btn btn-secondary">⌫</button>
                    <button type="button" value="/" class="btn btn-secondary">/</button>  
                    <button type="button" value="*" class="btn btn-secondary">*</button>
                </div>
                <div class="row">
                    <button type="button" value="7" class="btn btn-secondary">7</button>
                    <button type="button" value="8" class="btn btn-secondary">8</button>
                    <button type="button" value="9" class="btn btn-secondary">9</button>
                </div>
                <div class="row">
                    <button type="button" value="4" class="btn btn-secondary">4</button>
                    <button type="button" value="5" class="btn btn-secondary">5</button>
                    <button type="button" value="6" class="btn btn-secondary">6</button>
                </div>
                <div class="row">
                    <button type="button" value="1" class="btn btn-secondary">1</button>
                    <button type="button" value="2" class="btn btn-secondary">2</button>
                    <button type="button" value="3" class="btn btn-secondary">3</button>
                </div>
                <div class="row">
                    <button type="button" value="0" class="btnZ">0</button>
                    <button type="button" value="." class="btn btn-secondary">.</button>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" value="-" class="btn btn-secondary">-</button>
                <button type="button" value="+" class="btn btn-light">+</button>
                <button type="submit" value="submit" id="submit" class="btn btn-light">↵</button>
            </div> 
        </div>
    </div>
    </form>
  </div>

 <script>
    <!-- JS to insert input into the inputbar from the onscreen keypad -->
    window.onload = function () {
        var screen  = document.getElementById('screen'),
            keypad  = document.getElementById('keypad'),
            buttons = keypad.getElementsByTagName('button');
            
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].onclick = function () {
                screen.value = screen.value + this.innerHTML;
                return false;
            };
        }

        const button = document.querySelector('#clear');
        button.addEventListener('click', () => {
            var input = document.querySelector('#screen');
            input.value = input.value.slice(0, -2);
        });

    }
 </script>


  
{% endblock %}