{% extends "base.html" %}
{% block title %}{{ _('Index') }}{% endblock %}
{% block navbar %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <!-- Flash messages -->
            <div class="d-flex flex-row alert alert-warning fade show justify-content-between topNotification" role="alert">
            <img  src="../static/images/Icons_Info.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" aria-label="Warning:">
            <p>{{msg}}</p>
            <img  src="../static/images/Icons_SchließenBlue.svg" width="50" height="50"  viewBox="0 0 100 100" role="img" class="close" data-dismiss="alert" aria-label="Close">
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}

{% block content%}
  <div class="statustableflex">
    <h1>Willkommen bei der Admin-Konsole der PKS-App</h1>
    <div class="buttons">
      <a href="{{ url_for('login') }}">Anmeldung</a>
      <a href="{{ url_for('register') }}">Registrieren</a>
    </div>
  </div>  
{% endblock %}
