{% extends "base.html" %}
{% block title %} {{ _('Gemeinkosten Ändern') }} {% endblock %}
{% block content%}
    <div class="statustable">
    <h3>F010400 - {{ _('Teile ohne Barcode') }}</h3>
<div class="fertigungauftragcontainer">
<form action='#' method="POST">
    <div class="d-flex flex-row fertigungauftragrow">
 <div class="d-flex flex-column">
<div class="d-flex flex-row fertigungauftragrow">
<div class="d-flex flex-column">
    <label for="gesamt" class="label">{{ _('Gesamt') }}</label>
    <label for="mengegut" class="label">{{ _('Menge Gut') }}</label>
    <label for="mengeaus" class="label">{{ _('Menge Aus') }}</label>
</div>
      <div class="d-flex flex-column">
          <input type="text" name="menge_soll" id="gesamt" value="{{menge_soll}}" class="form-control fertigungauftrag">
      <input type="text" name="menge_gut" id="mengegut" value="0.0" class="form-control fertigungauftrag">
      <input type="text" name="menge_aus" id="mengeaus" value="0.0" class="form-control fertigungauftrag">

</div>
<div class="d-flex flex-column">
      <label for="grundrustzeit" class="label">{{ _('Grundrüstzeit') }}</label>
      <label for="charge" class="label">{{ _('Charge') }}</label>
      <label for="lagerplatz" class="label">{{ _('Lagerplatz') }}</label>
</div>
      <div class="d-flex flex-column">
      <input type="text" name="ruestzeit" id="grundrustzeit" value="0.0" class="form-control fertigungauftrag">
      <input type="text" name="charge" id="charge" class="form-control fertigungauftrag">
      <input type="text" name="lagerplatz" id="lagerplatz" class="form-control fertigungauftrag">
</div>
    </div>
<div class="d-flex flex-row fertigungauftragrow">

    <table class="table table-striped">
   <thead class="thead-light">
    <tr>
      <th scope="col">{{ _('Divisionmenge Aus') }}</th>
      <th scope="col">{{ _('Menge Aus') }}</th>
      <th scope="col">{{ _('Ausschußgrund') }}</th>

    </tr>
</thead>
<tbody>
    <tr>
      <td ><input type="text" name="div_aus_fehler" id="" class="form-control fertigungauftrag"></td>
      <td ><input type="text" name="aus_fehler" id="" class="form-control fertigungauftrag"></td>
      <th scope="row">Fehler</th>

    </tr>
    <tr>
      <td ><input type="text" name="div_aus_oberflaeche" id="" class="form-control fertigungauftrag"></td>
      <td ><input type="text" name="aus_oberflaeche" id="" class="form-control fertigungauftrag"></td>
      <th scope="row">Defekte Oberfläsche</th>

    </tr>
    <tr>
      <td ><input type="text" name="div_aus_stapel" id="" class="form-control fertigungauftrag"></td>
      <td ><input type="text" name="aus_stapel" id="" class="form-control fertigungauftrag"></td>
      <th scope="row">Stapelfehler</th>

    </tr>
    <tr>
      <td ><input type="text" name="div_aus_kanten" id="" class="form-control fertigungauftrag"></td>
      <td ><input type="text" name="aus_kanten" id="" class="form-control fertigungauftrag"></td>
      <th scope="row">Kantenanleiner</th>

    </tr>
</tbody>
</table>
    </div>
     </div>


<div class="d-flex flex-column">
        <div class="card">
            <!-- Keypad -->
            <div class="col-md-8">
                <div class="row">
                    <button type="button" value="" class="btn btn-secondary">⌫</button>
                    <button type="button" value="/" class="btn btn-secondary">/</button>
                    <button type="button" value="*" class="btn btn-secondary">*</button>
                </div>
                <div class="row">
                    <button type="button" value="7" class="btn btn-secondary">7</button>
                    <button type="button" value="8" class="btn btn-secondary">8</button>
                    <button type="button" value="9" class="btn btn-secondary">9</button>
                </div>
                <div class="row">
                    <button type="button" value="4" class="btn btn-secondary">4</button>
                    <button type="button" value="5" class="btn btn-secondary">5</button>
                    <button type="button" value="6" class="btn btn-secondary">6</button>
                </div>
                <div class="row">
                    <button type="button" value="1" class="btn btn-secondary">1</button>
                    <button type="button" value="2" class="btn btn-secondary">2</button>
                    <button type="button" value="3" class="btn btn-secondary">3</button>
                </div>
                <div class="row">
                    <button type="button" value="0" class="btnZ">0</button>
                    <button type="button" value="," class="btn btn-secondary">,</button>
                </div>
                </div>
                <div class="col-md-4">
                     <button type="button" value="-" class="btn btn-secondary">-</button>
                     <button type="button" value="submit" class="btn btn-light">↵</button>
                     <button type="button" value="+" class="btn btn-light">+</button>
</div>
</div>
</div>

</div>
<div class="d-flex flex-row fertigungauftragrow">
    <div class="d-flex justify-content-between bestätigen3">

    <!-- <button type="button" onclick="window.location.href='{{"/"}}'" class="btn btn-primary btn-lg abrechh">{{ _('Abbrechen') }}</button> -->
    <button type="submit" name="submit" value="submit_teil" class="btn btn-primary btn-lg submit2">{{ _('Teilrückmeldung') }}</button>
    <button type="submit" name="submit" value="submit_end" class="btn btn-primary btn-lg submit2">{{ _('Endrückmeldung') }}</button>

</div>
</div>
</div>
</div>
    </form>
{% endblock %}