{% extends "base.html" %}
{% block title %}{{ _('Status') }}{% endblock %}

{% block content%}
 <div class="statustableflex">
    <h3>{{ _('Status') }}</h3>
<table class="table table-striped">
<thead class="thead-light">
    <tr>
        <th scope="col">{{ _('Aktion') }}</th>
        <th scope="col">{{ _('Arbeitplatz') }}</th>
        <th scope="col">{{ _('Bezeihung') }}</th>
        <th scope="col">{{ _('Von') }}</th>
        <th scope="col">{{ _('Bis') }}</th>
        <th scope="col">{{ _('Dauer') }}</th>
        <th scope="col">{{ _('Menge') }}</th>
        <th scope="col">{{ _('Auftragsstatus') }}</th>
        <th scope="col">{{ _('Pers.Nr') }}</th>
    </tr>
</thead>
<tbody>
    <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <!-- Dynamic population of the table -->
    <tr>
    <th scope="row">{{tableItems[0]}}</th>
      {% for items in range(1,9) %}
           <td>{{tableItems[items]}}</td>
            {% endfor %}


    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

   <tr>
      <th scope="row">Gekommen</th>
      <td>G020</td>
      <td>Gruppe 20</td>
      <td>09:45 Uhr</td>
      <td>09:53 Uhr</td>
      <td>19 Min</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>




</tbody>
</table>
 <div class="d-flex justify-content-between bestätigen2">
    <button type="button" onclick="window.location.href='{{"/"}}'" class="btn btn-primary btn-lg abrechh">{{ _('Abbrechen') }}</button>

</div>
 </div>
{% endblock %}