<!doctype html>
<html lang="de" class="notranslate" translate="no">

<form action='#' method="POST">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stackpath.bootstrapcdn.com_bootstrap_4.3.1_css_bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='keyboard.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.googleapis.com_icon_family=Material+Icons.css') }}" />
  <script src="{{ url_for('static',filename='js/code.jquery.com_jquery-3.4.1.js') }}" type="text/javascript"></script>
  <meta charset="utf-8" />
  <script src="{{ url_for('static',filename='js/jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/keyboard.js') }}" type="text/javascript"></script>

  <title>{% block title%}{{ _('Zählerstandsrückmeldung') }}{% endblock%}</title>
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="navbar navbar-light bg-light topnav">
                <div id="mySidenav" class="sidenav">
                    <!-- Generation of Navbar items -->
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    {% for items in range(0,sidebarItems[0]|length) %}
                    <a onclick="window.location.href='{{"/identification/"}}{{sidebarItems[1][items]}}'"
                        name="selectedNavbarItem"
                        class="list-group-item list-group-item-action bg-light">{{sidebarItems[0][items]}}</a>
                    {% endfor %}
                </div>
                <!-- open Navbar -->
                <a class="navbar-brand" href="#">
                    <img onclick="openNav()" src="/static/images/Icons_Menü.svg" width="50" height="50" alt="">
                </a>
                <a class="navbar-brand open-keyboard" onclick="focusMethod()" style="margin-left: 1.25rem; align-self: flex-start !important;"
                    href="#">
                    <img src="/static/images/Icons_Tastatur.svg" width="100" height="50" alt="">
                </a>
            </div>
        </header>

        <main class="main-content">
            <div class="body-content">
              {% block content %} {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
              <!-- Flash messages -->
              <div class="d-flex flex-row alert alert-warning fade show justify-content-between topNotification" role="alert">
                <img src="/static/images/Icons_Info.svg" width="50" height="50" viewBox="0 0 100 100" role="img" aria-label="Warning:">
                <p>{{msg}}</p>
                <img src="/static/images/Icons_SchließenBlue.svg" width="50" height="50" viewBox="0 0 100 100" role="img" class="close" data-dismiss="alert" aria-label="Close">
              </div> 
              {% endfor %} {% endif %} {% endwith %} {% endblock %}
              <div class="statustable">
                <h3>{{ _('Zählerstandsrückmeldung') }}</h3>
                <!-- <div class="fertigungauftragcontainer"> -->
                  <!-- <form action='#' method="POST"> -->
                    <div class="d-flex flex-row fertigungauftragrow">
                      <div class="fluid-matrix">
                        <div class="fluid-cell">
                            <div class="input-group">
                                <label for="old_total">{{ _('Aktueller Stand') }}</label>
                                <div class="dropdown inputbutton2">
                                  <input type="text" name="old_total" id="old_total" value="{{old_total}}" class="form-control fertigungauftrag" readonly>
                                </div>
                                <div class="boxes" , id="ot_n"></div>
                            </div>
                        </div>
                        <div class="fluid-cell">
                          <div class="input-group">
                              <label for="datum">{{ _('Datum') }}</label>
                              <div class="dropdown inputbutton2">
                                <input type="date" name="datum" id="datum" value={{ date }} class="form-control dropdown-toggle datetime"></input>
                              </div>
                              <div class="boxes" , id="datum_n"></div>
                          </div>
                        </div>          
                        <div class="fluid-cell">
                          <div class="input-group">
                              <label for="new_total">{{ _('Neuer Stand') }}</label>
                              <div class="dropdown inputbutton2">
                                <input type="text" name="new_total" id="new_total" value="0" class="form-control fertigungauftrag" autofocus>
                              </div>
                              <div class="boxes" , id="nt_n"></div>
                          </div>
                        </div> 
                        <div class="fluid-cell">
                          <div class="input-group">
                              <label for="uhrzeit">{{ _('Uhrzeit') }}</label>
                              <div class="dropdown inputbutton2">
                                <select name="uhrzeit" id="uhrzeit" class="form-uhrzeit"> {% for items in range(0,uhrzeit|length) %} <option value="{{uhrzeit[items]}}">{{uhrzeit[items]}}</option> {% endfor %} </select>
                              </div>
                              <div class="boxes" , id="uz_n"></div>
                          </div>
                        </div> 
                      </div>
                      <div class="d-flex flex-column">
                        <div class="card">
                          <!-- Keypad -->
                          <div class="col-8" id="keypad">
                            <div class="row">
                              <button type="button" id="clear" class="btn btn-secondary">⌫</button>
                              <button type="button" value="/" class="btn btn-secondary">/</button>
                              <button type="button" value="*" class="btn btn-secondary">*</button>
                            </div>
                            <div class="row">
                              <button type="button" value="7" class="btn btn-secondary">7</button>
                              <button type="button" value="8" class="btn btn-secondary">8</button>
                              <button type="button" value="9" class="btn btn-secondary">9</button>
                            </div>
                            <div class="row">
                              <button type="button" value="4" class="btn btn-secondary">4</button>
                              <button type="button" value="5" class="btn btn-secondary">5</button>
                              <button type="button" value="6" class="btn btn-secondary">6</button>
                            </div>
                            <div class="row">
                              <button type="button" value="1" class="btn btn-secondary">1</button>
                              <button type="button" value="2" class="btn btn-secondary">2</button>
                              <button type="button" value="3" class="btn btn-secondary">3</button>
                            </div>
                            <div class="row">
                              <button type="button" value="0" class="btnZ">0</button>
                              <button type="button" value="." class="btn btn-secondary">.</button>
                            </div>
                          </div>
                          <div class="col-4">
                            <button type="button" value="-" class="btn btn-secondary">-</button>
                            <button type="button" value="+" class="btn btn-light">+</button>
                            <button type="button" value="submit" class="btn btn-light">↵</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- </form> -->
                <!-- </div> -->
                <div class="flex-container">
                  <div class="flex-row flex-right">
                    <button type="submit" name="submit" value="submit_end" class="btn btn-primary btn-lg submit2">{{ _('Rückmelden') }}</button>
                  </div>
                </div>
              </div>                        
            </div>
            <div class="transparent-bar"></div>
        </main>
        
        <footer class="footer">
            <nav class="navbar fixed-bottom navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('home', username=username) }}">
                    <img src="/static/images/Icons_Kartenscan.svg" width="64" height="64" alt="">
                    {{ _('Home') }}
                </a>
                {% if current_user.username %}
                <p></p>
                {% else %}
                <p></p>
                {% endif %}
                <strong id="date-time"></strong>
            </nav>
        </footer>
    </div>

    <script>
    // Get the current hour of the day
    var currentHour = new Date().getHours();

    // Select the dropdown element
    var uhrzeitDropdown = document.getElementById('uhrzeit');

    // Loop through each option in the dropdown
    for (var i = 0; i < uhrzeitDropdown.options.length; i++) {
        var option = uhrzeitDropdown.options[i];
        var optionValue = parseInt(option.value); // Convert option value to integer
        
        // Compare the option value with the current hour and set as selected
        if (optionValue === currentHour) {
            option.selected = true;
            break; // No need to continue searching
        }
    }

    window.onload = function() {
      var inputFields = document.querySelectorAll('input'); // select all input fields
      var currentInput; // store the reference to the currently focused input field
      var keypad = document.getElementById('keypad');
      var buttons = keypad.getElementsByTagName('button');
      var submit_btn = document.getElementById('enter_btn');

      // Function to set the default focus to id="new_total"
      function setDefaultFocusToNewTotal() {
        currentInput = document.getElementById('new_total');
        currentInput.focus();
      }

      // Set the default focus initially
      setDefaultFocusToNewTotal();

      for (var i = 0; i < inputFields.length; i++) {
        inputFields[i].addEventListener('focus', function() {
          currentInput = this; // update the reference to the currently focused input field
        });

        for (var j = 0; j < buttons.length; j++) {
          buttons[j].onclick = function() {
            if (currentInput.id !== 'old_total') {
              currentInput.value = currentInput.value + this.innerHTML;
              return false;
            }
          };
        }

        inputFields[i].addEventListener('keypress', function(event) {
          if (event.keyCode === 13 || event.which === 13) {
            event.preventDefault();
            submit_btn.click();
          }
        });
      }

      const button = document.querySelector('#clear');
      button.addEventListener('click', () => {
        if (currentInput.id !== 'old_total') {
          currentInput.value = currentInput.value.slice(0, -2);
        }
      });
    };

    window.addEventListener("load", () => {
            clock();
            function clock() {
                const today = new Date();

                // get time components
                const hours = today.getHours();
                const minutes = today.getMinutes();
                const seconds = today.getSeconds();

                // add '0' to hour, minute & second when they are less 10
                const hour = hours < 10 ? "0" + hours : hours;
                const minute = minutes < 10 ? "0" + minutes : minutes;
                const second = seconds < 10 ? "0" + seconds : seconds;

                // get date components
                const month = today.getMonth();
                const year = today.getFullYear();
                const day = today.getDate();

                // declaring a list of all months in a year
                const monthList = [
                    "Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August",
                    "September", "Oktober", "November", "Dezember"
                ];

                // get current date and time
                // const date = monthList[month] + " " + day + ", " + year;
                const date = day + ". " + monthList[month] + " " + year;
                const time = hour + ":" + minute + ":" + second + " Uhr";

                // combine current date and time
                const dateTime = date + " - " + time;

                // print current date and time to the DOM
                document.getElementById("date-time").innerHTML = dateTime;
                setTimeout(clock, 1000);
            }
        });
    
    </script>

    <script src="{{ url_for('static', filename='js/cdnjs.cloudflare.com_ajax_libs_popper.js_1.14.7_umd_popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/stackpath.bootstrapcdn.com_bootstrap_4.3.1_js_bootstrap.min.js') }}" type="text/javascript"></script>
</body>

</form>

</html>
